
@import "../../styles/colors";
@import "../../styles/breakpoints";
@import "../../styles/mixins";


.text {
  color: $grey;
  font-size: 14px;
  margin: 0;
  padding: 0;

  @include media('md') {
    font-size: 16px;
  }

  &.h1 {
    font-size: 20px;
  }

  &.h2 {
    font-size: 18px;
  }

  &.h1, &.h2 {
    margin: 8px 0;
  }

  &.h3 {
    font-size: 16px;
  }

  &.p, &.h3 {
    margin: 4px 0;
  }

}

