

$white: #f5f5f6;
$white-light: #fafafa;
$white-dark: #f0f1f1;

$primary: #69f0ae;
$primary-light: #9fffe0;
$primary-dark: #2bbd7e;

$black: #263338;
$grey: #dee3e5;
$grey-light: #dee3e5;
$grey-dark: #e3e6e8;

$text: $black;
$text-light: $black;
