
@import "../../styles/common";
@import "../../styles/mixins";


.content {

  &.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - #{$header-size});
  }

}

.loading {
  font-size: 18px;
  font-weight: bold;
}

.dialog {
  margin: 75px 10px 0;
  width: 100%;
  align-self: flex-start;
  max-height: calc(100vh - 150px);
  max-width: 760px;

  @include media() {
    align-self: inherit;
    max-height: 60vh;
  }

}

.dialog-content {
  padding: 5px;
}
