
@import "../../styles/colors";

.wrapper {
  padding: 15px;

  > * {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

  }

}

.search-input {
  width: 100%;
}

.outline {
  border-color: $primary;
}

.card {

  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

}
