
@import "../../styles/colors";
@import "../../styles/common";

.wrapper {
  padding: 15px;
  border-radius: 5px;
  box-shadow: $box-shadow;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
  background-color: $white-light;

  &.slim {
    padding: 0;
  }

}

@media only screen and (min-width: 768px) {

  .wrapper {
    padding: 20px;
  }

}
