
@import "../../styles/colors";
@import "../../styles/common";
@import "../../styles/mixins";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  height: $header-size;
  background-color: $primary;

  color: $white;

  > * {
    padding: 5px;
  }
}

.favWrapper {
  display: flex;
  align-items: center;
  margin-left: 5px;
  cursor: pointer;
}

.favText {
  display: none;

  @include media() {
    display: inline;
    margin-left: 5px;
    font-weight: bold;
  }

}
