
@import "../../styles/colors";


.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
}

.form-control {
  width: 100%;
}

.label {
  top: -8px;
  left: 14px;
}

.arrow {
  padding: 4px;
  cursor: pointer;
  color: $primary;
}
